
<% if @user[:role] == "Owner" %>
    <h3> All your contracts: </h3>
    <% Contract.all.each  do |c| %>
        <% if c.user_id == @user.id %>
            <%= link_to c.title %>
        <% end %>
    <% end %>
<% end %>

<% if @user[:role] == "General Contractor" %>
    <h3> All your Bids: </h3>
    <% Bid.all.each  do |b| %>
        <% if b.user_id == @user.id %>
            <%= link_to b.title %>
        <% end %>
    <% end %>

    <h3> All your SubContracts: </h3>
    <% SubContract.all.each  do |s| %>
        <% if s.user_id == @user.id %>
            <%= link_to s.title %>
        <% end %>
    <% end %>
<% end %>

<% if @user[:role] == "Subcontractor" %>
    <h3> All your SubBids: </h3>
    <% SubBid.all.each  do |s| %>
        <% if s.user_id == @user.id %>
            <%= link_to s.title %>
        <% end %>
    <% end %>
<% end %>